{#<div class="pt-2">#}
{#    <div class="mr-1 ml-1 callout callout-success card-outline card-danger row justify-content-between shadow-lg mt-5">#}
{#        <h5><i class="fas fa-user-tie text-primary"></i> <i class="fas">Utilisateur connecté</i></h5>#}
{#        <span class="h4 m-0"><i class="fas fa-grip-lines-vertical text-danger"></i></span>#}
{#        <h5><i class="fas fa-clock text-info"></i> <i class="fas">Année: 2021</i></h5>#}
{#        <span class="h4 m-0"><i class="fas fa-grip-lines-vertical text-danger"></i></span>#}
{#        <h5><i class="fas fa-building text-info"> </i> <i class="fas">Giga Technologie</i></h5>#}
{#    </div>#}
{#</div>#}