<!DOCTYPE html>
<html>
<head>
    {{ include('admin/includes/head.html.twig') }}
    <meta charset="UTF-8">
    <title>{% block title %}Message{% endblock %}</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <main >
        {% block body %}{% endblock %}
    </main>
</body>
</html>
