<form method="post" action="{{ path('production_delete', {'id': production.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ production.id) }}">
        <button class="btn btn-xs btn-default rounded"><i class="fas fa-trash text-danger"></i></button>
</form>
