<form action="{{ path('depense_edit', {'id' : depense.id}) }}" method="post">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-xs btn-outline-danger float-right">
        <i class="fas fa-save"></i> Enregistrer
    </button>
    {{ form_end(form) }}
</form>