<form method="post" action="{{ path('email_delete', {'id': email.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet enregistrement ?');" class="form-inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ email.id) }}">
    <button class="btn btn-xs btn-default rounded"><i class="fas fa-trash text-danger"></i></button>
</form>
